@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', arial;
}

.vincenzo{
    width: 6.250rem;
    height: 6.250rem;
}

h1{
    position: absolute;
    left: 680px;
    top: 800px;
    font-family: Nunito;
    font-size: 77px;
    line-height: 105px;
    color: #85000F;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.vincenzo .vinazul img{

    position: absolute;
    width: 750px;
    height: 577px;
    left: -200px;
    top: 825px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.vincenzo .vinvermelho img{
    position: absolute;
    width: 775px;
    height: 593px;
    left: -150px;
    top: 834px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
}

.vincenzo .vincenzofoto img{
    position: relative;
    width: 594px;
    height: 616px;
    top: -95px;
    z-index: 1;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.vincenzo .retangulo img{

    position: absolute;
    width: 610px;
    height: 190px;
    top: 1350px;
    z-index: 1;

}

.vincenzo .nome img{
    position: absolute;
    width: 547px;
    height: 94px;
    left: 25px;
    top: 1400px;
    z-index: 11;
}

.vincenzo p{
    position: absolute;
    width: 680px;
    height: 580px;
    left: 630px;
    top: 906px;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 54px;
    text-align: justify;
    color: #000000;
}

.hongYuChan {
    width: 100%;
    height: 100vh;
}

.hongYuChan .chayoungfoto img{
    position: relative;
    width: 525px;
    height: 440px;
    left: 790px;
    top: 554px;
    z-index: 1;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

.hongYuChan .chayoungazul img{
    position: absolute;
    width: 525px;
    height: 440px;
    left: 870px;
    top: 1576px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hongYuChan .chayoungvermelho img{
    position: absolute;
    width: 525px;
    height: 440px;
    left: 850px;
    top: 1586px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hongYuChan .yuchanfoto img{
    position: relative;
    width: 710px;
    height: 420px;
    left: 330px;
    top: 126px;
    z-index: 1;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

.hongYuChan .yuchanazul img{
    position: absolute;
    width: 490px;
    height: 390px;
    left: 640px;
    top: 1626px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hongYuChan .yuchanvermelho img{
    position: absolute;
    width: 469px;
    height: 370px;
    left: 620px;
    top: 1639px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hongYuChan .retangulo img{
    position: absolute;
    width: 750px;
    height: 215px;
    left: 600px;
    top: 1920px;
    z-index: 1;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hongYuChan .nome img{
    position: relative;
    left: 625px;
    top: 44px;
    transform: rotate(-1deg);
    z-index: 11;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.hongYuChan .p p{
    position: absolute;
    width: 575px;
    height: 526px;
    left: 29px;
    top: 1580px;
    font-size: 26px;
    line-height: 54px;
}

.hongYuChan .p1 p{
    position: absolute;
    width: 730px;
    height: 52px;
    left: 450px;
    top: 2120px;

    font-size: 26px;
    line-height: 54px;
}

.hongYuChan .p2 p{
    position: absolute;
    width: 730px;
    height: 52px;
    left: 29px;
    top: 2176px;

    font-size: 26px;
    line-height: 54px;
}

.hongYuChan .p3 p{
    position: absolute;
    width: 730px;
    height: 52px;
    left: 707px;
    top: 2176px;

    font-size: 26px;
    line-height: 54px;
}
.hongYuChan p{
    position: absolute;
    width: 1340px;
    height: 142px;
    left: 30px;
    top: 2232px;
    font-size: 26px;
    line-height: 54px;
}

.jangjuwoo .jangjuwoofoto img{
    position: absolute;
    width: 385px;
    height: 493px;
    left: 22px;
    top: 2330px;

    z-index: 1;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

.jangjuwoo .jangjuwooazul img{
    position: absolute;
    width: 643px;
    height: 491px;
    left: -145px;
    top: 2330px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.jangjuwoo .jangjuwoovermelho img{
    position: absolute;
    width: 650px;
    height: 493px;
    left: -128px;
    top: 2330px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.jangjuwoo .hanseofoto img{
    position: relative;
    width: 369px;
    height: 386px;
    left: 244px;
    top: 735px;

    z-index: 1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

.jangjuwoo .hanseoazul img{
    position: absolute;
    width: 606px;
    height: 434px;
    left: 144px;
    top: 2409px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.jangjuwoo .hanseovermelho img{
    position: absolute;
    width: 568px;
    height: 433px;
    left: 144px;
    top: 2410px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.jangjuwoo .retangulo img{
    position: absolute;
    width: 705px;
    left: -23px;
    top: 2730px;

    z-index: 1;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.jangjuwoo .nome img{
    position: relative;
    left: 8px;
    top: 670px;
    z-index: 11;

}

.jangjuwoo .p p{
    position: absolute;
    text-align: right;
    width: 635px;
    height: 600px;
    left: 660px;
    top: 2330px;

    font-size: 27px;
    line-height: 54px;
}

.jangjuwoo p{
    position: absolute;
    text-align: right;
    width: 635px;
    height: 600px;
    left: 660px;
    top: 2700px;

    font-size: 27px;
    line-height: 54px;
}

.hanseunghyuk .hanseunghyukfoto img{
    position: absolute;
    width: 635px;
    height: 517px;
    left: 542px;
    top: 2978px;


    z-index: 1;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

.hanseunghyuk .hanseunghyukazul img{
    position: absolute;
    width: 690px;
    height: 518px;
    left: 500px;
    top: 2978px;


    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hanseunghyuk .hanseunghyukvermelho img{
    position: absolute;
    width: 690px;
    height: 517px;
    left: 510px;
    top: 2978px;


    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hanseunghyuk .myungheefoto img{
    position: relative;
    width: 800px;
    height: 473px;
    left: 700px;
    top: 716px;

    z-index: 1;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

.hanseunghyuk .myungheeazul img{
    position: absolute;
    width: 600px;
    height: 485px;
    left: 861px;
    top: 2920px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hanseunghyuk .myungheevermelho img{
    position: absolute;
    width: 620px;
    height: 503px;
    left: 836px;
    top: 2927px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hanseunghyuk .retangulo img{
    position: absolute;
    left: 528px;
    top: 3285px;

    z-index: 1;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hanseunghyuk .nome img{
    position: relative;
    left: 550px;
    top: 660px;

    z-index: 11

}

.hanseunghyuk p{
    position: absolute;
    text-align: left;
    width: 530px;
    height: 580px;
    left: 22px;
    top: 2951px;

    font-size: 26px;
    line-height: 54px;
}

footer {
    position: relative;
    width: 100%;
    height: 115px;
    left: 0px;
    top: 880px;
    background-color: #E5E5E5;
    z-index: 111;
}

.linkedin img {
    position: absolute;
    display: flex;
    width: 44px;
    height: 44px;
    left: 559px;
    top: 15px;

}

.email img {
    position: absolute;
    display: flex;
    width: 44px;
    height: 44px;
    left: 631px;
    top: 15px;
}

.github img {
    position: absolute;
    display: flex;
    width: 44px;
    height: 44px;
    left: 703px;
    top: 15px;
    
}

.namefooter p {
    position: absolute;
    width: 225px;
    height: 30px;
    left: 541px;
    top: 70px;

    font-family: 'Nunito';
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.datafooter p {
    position: absolute;
    width: 225px;
    height: 30px;
    left: 541px;
    top: 90px;

    font-family: 'Nunito';
    font-weight: bold;
    font-size: 15px;
    text-align: center;

}
